<template>
    <v-app>
        <div>
            <Header/>
        </div>
        <main>
            <div class="container">
                <h1>DNEVNI OBROCI</h1>
                <v-row>
                    <v-col
                        v-for="n in pictures.length"
                        :key="n"
                        cols="12"
                        sm="3"
                    >
                    <router-link :to="{ name: 'Meals' }">
                        <v-card id="block" :elevation="10" outlined tile>
                            <v-img
                            id="images"
                            :src="pictures[n-1]"
                            aspect-ratio="1.55"
                            class="child-flex"
                            >
                            </v-img>
                        </v-card>
                    </router-link>
                    </v-col>
                </v-row>
            </div>
        </main>
        <div>
            <Footer/>
        </div>
    </v-app>
</template>

<script>
    import Header from '@/views/Header';
    import Footer from '@/views/Footer';
    
    export default {
        name: 'App',

        components: {
            Header,
            Footer
        },

        data: () => {
            return {
                pictures: [ require('@/assets/pictures/monday.jpg'),
                    require('@/assets/pictures/tuesday.png'),
                    require('@/assets/pictures/wednesday.png'),
                    require('@/assets/pictures/thursday.jpg'),
                    require('@/assets/pictures/friday.jpg'),
                    require('@/assets/pictures/saturday.png'),
                    require('@/assets/pictures/sunday.jpg'),
                ],
            }
        },
        created () {
        },
        mounted() {
        },
        methods: {
            
        }
    }
</script>

<style>
main {
    padding-top: 0.5rem;
    width: 100%;
}
.container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3rem;
    font-size: 30px;
}
#block {
    overflow: hidden;     
    display: block; 
}
#images:hover {
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transition: all .4s linear;
}
</style>
