<template>
  <div id="app"> 
    <div id="root">
      <div id="container" style="box-shadow: 0 0 5px 0 rgb(82, 81, 81);">
        <div id="mentions">
          <p>{{ new Date().getFullYear() }} — <strong>MyMeals</strong></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Footer',

  data: () => {
    return {
      
    }
  }
}
</script>

<style>
.footer {
  background-color: rgba(94, 91, 91, 0.11);
  display: block;
  color: rgb(94, 91, 91);
  font-size: 17px;
  width: 100%;
}
#container{
  padding-top:10px;
  width:100vw;
  color:white;
  background-color:rgb(253, 230, 237);
  display:flex;
  flex-direction:column;
  align-items:center;
}
#mentions {
  padding-top: 30px;
}
#mentions p {
  font-size:11px;
}
</style>
