<template>
    <v-app>
        <div>
            <Header/>
        </div>
        <main>
            <div class="container">
                <h1>MyMeals</h1>
                <h2>Dobrodošli!</h2>
                <p>Dobrodošli u aplikaciju MyMeals.</p>
                <p>Ovdje možete dodavati slatke ili slane recepte po Vašoj želji. Isto tako imate mogućnost slaganja dnevnih obroka (doručak, ručak i večera) svaki dan u tjednu te pridjeljivanja svojih recepata tim obrocima.</p>
                <v-card id="img" :elevation="10" outlined tile>
                    <v-img
                    :src="require('@/assets/pictures/pocetna.jpg')"
                    aspect-ratio="1.55"
                    class="child-flex"
                    >
                    </v-img>
                </v-card>
            </div>
        </main>
        <div>
            <Footer/>
        </div>
    </v-app>
</template>

<script>
    import Header from '@/views/Header';
    import Footer from '@/views/Footer';
    
    export default {
        name: 'App',

        components: {
            Header,
            Footer
        },

        data: () => {
            return {
                pictures: [ require('@/assets/pictures/monday.jpg'),
                    require('@/assets/pictures/tuesday.png'),
                    require('@/assets/pictures/wednesday.png'),
                    require('@/assets/pictures/thursday.jpg'),
                    require('@/assets/pictures/friday.jpg'),
                    require('@/assets/pictures/saturday.png'),
                    require('@/assets/pictures/sunday.jpg'),
                ],
            }
        },
        created () {
        },
        mounted() {
        },
        methods: {
        }
    }
</script>

<style>
main {
    padding-top: 0.5rem;
    width: 100%;
}
.container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h1 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3rem;
    font-size: 30px;
}
#block {
    overflow: hidden;     
    display: block; 
}
#img {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
</style>
