<template>
    <v-app>
        <div>
            <Header/>
        </div>
        <main>
            <div class="container">
                <h1>DAN</h1>
                <h2>DORUČAK</h2>
                <div></div>
                <h2>RUČAK</h2>
                <div></div>
                <h2>VEČERA</h2>
                <div></div>
            </div>
        </main>
        <div>
            <Footer/>
        </div>
    </v-app>
</template>

<script>
    import Header from '@/views/Header';
    import Footer from '@/views/Footer';
    
    export default {
        name: 'App',

        components: {
            Header,
            Footer
        },

        data: () => {
            return {
        
            }
        },
        created () {
        },
        mounted() {
        },
        methods: {
            
        }
    }
</script>

<style>
main {
    padding-top: 0.5rem;
    width: 100%;
}
.container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3rem;
    font-size: 30px;
}
h2 {
    text-align: left;
    padding-left: 20px;
}
</style>
