<template>
    <v-app>
        <div>
            <Header/>
        </div>
        <main>
            <div class="container">
                <h1>RECEPTI</h1>
                <h3 style="cursor: pointer" @click="dialog=true">Dodaj novi recept</h3>
                <v-row justify="center">
                    <v-dialog
                    v-model="dialog"
                    persistent
                    max-width="500"
                    >
                    <v-card>
                        <v-card-title class="headline">
                        Dodajte novi recept
                        </v-card-title>
                        <v-card-text>
                        <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                    >
                        <v-text-field
                        v-model="name"
                        :src="name"
                        :rules="[v => !!v || 'Potrebno je unijeti naziv recepta']"
                        label="Naziv recepta"
                        required
                        ></v-text-field>

                        <v-text-field
                        v-model="opis"
                        :src="opis"
                        :rules="[v => !!v || 'Potrebno je unijeti način pripreme recepta']"
                        label="Način pripreme recepta"
                        required
                        ></v-text-field>

                        <v-combobox
                        v-model="stil"
                        :items="items"
                        :rules="[v => !!v || 'Potrebno je odabrati vrstu recepta']"
                        label="Vrsta recepta"
                        required
                        ></v-combobox>

                        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                        <img :src="imageUrl" height="150" v-if="imageUrl"/>
                        <v-text-field label="Odaberite sliku" @click='pickFile' v-model='imageName'></v-text-field>
                        <input
                            type="file"
                            style="display: none"
                            ref="image"
                            accept="image/*"
                            @change="onFilePicked"
                        >
                        </v-flex>      
                    </v-form>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="black"
                            text
                            @click="dialog = false"
                        >
                            Poništi
                        </v-btn>
                        <v-btn
                            color="black"
                            text
                            @click="add_recipe"
                        >
                            Dodaj
                        </v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-dialog>
                </v-row>
                <h2>SLATKI RECEPTI</h2>
                <div>
                    <v-row
                        v-for="n in 5"
                        :key="n"
                        cols="12"
                        sm="3"
                    >
                        <v-card id="img-recipe" tile>
                            <v-img
                            :src="require('@/assets/pictures/pocetna.jpg')"
                            aspect-ratio="1.55"
                            class="child-flex"
                            >
                            </v-img>
                        </v-card>
                        <div class="name">NAZIV</div>
                    </v-row>
                </div>
                <h2>SLANI RECEPTI</h2>
                <div>
                    <v-row
                        v-for="n in 5"
                        :key="n"
                        cols="12"
                        sm="3"
                    >
                        <v-card id="img-recipe" tile>
                            <v-img
                            :src="require('@/assets/pictures/pocetna.jpg')"
                            aspect-ratio="1.55"
                            class="child-flex"
                            >
                            </v-img>
                        </v-card>
                        <div class="name">NAZIV</div>
                    </v-row>
                </div>
            </div>
        </main>
        <div>
            <Footer/>
        </div>
    </v-app>
</template>

<script>
    import Header from '@/views/Header';
    import Footer from '@/views/Footer';
    
    export default {
        name: 'App',

        components: {
            Header,
            Footer
        },

        data: () => {
            return {
                dialog: false,
                valid: true,
                name: '',
                stil: '',
                opis: '',
                imageUrl: '',
                imageFile: '',
                imageName: '',
                items: [
                    'SLATKO',
                    'SLANO',
                ],
            }
        },
        created () {
        },
        mounted() {
        },
        methods: {
            add_recipe() {
            },
            pickFile() {
                this.$refs.image.click()
            },
            onFilePicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    this.imageFile = files[0]
                    if (this.imageName.lastIndexOf('.') <= 0) {
                    return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                    this.imageUrl = fr.result
                    this.imageFile = files[0] // this is an image file that can be sent to server...
                    })
                    
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            },
        }
    }
</script>

<style>
main {
    padding-top: 0.5rem;
    width: 100%;
}
.container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 3rem;
    font-size: 30px;
}
h3 {
    text-align: right;
    padding-bottom: 1rem;
}
h2 {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
#img-recipe {
    width: 100px;
    margin-bottom: 20px;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 23px;
    padding-left: 20px;
}
</style>
